
<!DOCTYPE html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='author' content='makelaris'>
  <title>⛰ Inside a dojo</title>
  <link href='/static/favicon.gif' rel='icon' type='image/gif'>
  <link href='/static/css/main.css' rel='stylesheet'>
</head><body>
<div class='titan-background'>
  <span class='stars stars-L'></span>
  <span class='stars stars-M'></span>
  <span class='stars stars-S'></span>
</div>
<div class='marvellous-container'>
  <div class='header'>
    <h1>
      <span class='title-marvel'>release your</span>
      <span class='title-studios'>inner ninja</span>
    </h1>
    <h2>
      All of military age in your village<br/>
      are drafted to rebel against the emperor<br/>
      under the leadership of the Hattori clan.<br/><br/>
      Now's the time to choose the name under<br/>
      which you'll embark in this new adventure.<br/><br/>
    </h2>
    <form action='/'>
      <div class='input-field'>
        <input type='text' name='name' id='name' placeholder='name' autocomplete='off' required />
        <button type='submit'>Send</button>
      </div>
    </form>
    <div class='wrap'>
      <div class='ninja'></div>
    </div>
    
  </div>
</div>
</body>
<!-- /debug -->
</html>